.Create-page{
    min-height: 100vh;
    margin: 0% auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0ecf7;
}

.Create-container{
    min-width: 500px;
    /* font : 30px ; */
    padding: 40px 20px 40px 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgb(0 0 0 / 5%),
        0 20px 48px rgb(0 0 0 / 5%),
        0 1px 4px rgb(0 0 0 / 10%);
}
.labelfont{
    /* font-size: 25px ; */
    text-align : left ;

}
.Create-container label h3{
    margin: 0%;
}

.Create-container .Createform-input{
    padding: 10px;
    margin-bottom: 20px;
    width: calc(100% - 22px);
    font-size: 15px;
    border: solid 1px;
    border-radius: 5px;
    resize: vertical;
}

.Create-submit-btn{
    width: calc(100%);
    padding: 10px;
    font-size: 15px;
    color: white;
    background-color: #5D3FD3;
    border: solid 2px #5D3FD3;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s all;
}

.Create-submit-btn:hover{
    color: black;
    background-color: #f0ecf7;
}

.Createcontainer{
    text-align: centre ;
}